*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  all: unset;
}
